.property__card{
    width: 20rem;
    background-color: #fff;
    margin: 0.7rem;
    box-shadow: 0px 3px 5px rgb(233, 233, 233);
}
.property__card img{
    width: 20rem;
    object-fit: contain;
}
.property__card .property__card__body{
    padding: 1.5rem;
}
.property__card .property__card__body h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.property__card .property__card__body hr{
    width: 100%;
    margin-bottom: 0.7rem;
}
.property__card .property__card__body .title__div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.property__card .property__card__body .title__div .verifyDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-color: #bce7c7;
    padding: 0.4rem;
    border-radius: 2rem;
    color: #108f2f;
}
.property__card .property__card__body .title__div .verifyDiv .verifyIcon{
    font-size: 1.1rem;
    margin-top: 0.05rem;
    margin-right: 0.2rem;
}
.property__card .property__card__body h5{
    color: #454545;
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}
.property__card .property__card__body p{
    font-size: 0.8rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
}
.property__card .property__card__body button{
    padding: 0.7rem;
    font-size: 0.75rem;
    border: none;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #da42ae, #fd5565);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #da42ae, #fd5565); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
}
.property__card .property__card__body button:hover{
    box-shadow: 0px 3px 4px #ccc;
}
.property__card__icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.property__card__icon__span{
    margin: 0.2rem;
    width: fit-content;
    padding: 0.3rem 0.5rem;
    border-radius: 2rem;
    font-size: 0.74rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.property__card__icon{
    border-radius: 50%;
    margin-right: 0.3rem;
    color: #7c7c7c;
}